body {
    font-family: Arial, Helvetica, sans-serif;
}


#main {
    text-align: center;
    margin: 50px;
    margin-top: 15pc;
}

#headtitle {
    text-align: left;
    margin-left: 3pc;
}


#perks {
        text-align: left;
    font-size: 150%;
    margin-top: 5pc;
    max-width:100pc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15pc;
}

.important {
    text-align: center;
    margin: 50px;
    font-size: 500%;
    margin-top: 15pc;
}

#tickets {
    text-align: center;
    border: 90px rgb(36, 35, 35);
    border-radius: 50px;
    background-color: rgb(56, 52, 52);
    width: 300px;
    padding: 30px;
    margin: auto;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 20px 2px rgb(162, 162, 162);
}

#tickets:hover {
    transform: scale(1.05);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.stats_num {
    font-weight: bold;
    font-size: 500%;
}

.stats_text {
    font-size: 150%;
    margin-bottom: 50px;
}


.contenu {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;

}

.bloc {
    width: 25%;
    margin: 0 30px;
}

.footer-contact h3
.footer-services h3,
.footer-horaires h3,
.footer-medias h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p{
    padding: 5px 0;
}

.liste-services,
.liste-horaires,
.liste-medias{
    list-style-type: none;
    margin-left: -40px;
}

.liste-services li {
    padding: 2px 0;
}

.liste-services a {
    text-decoration: none;
    color: #333;
}
.liste-medias a {
    text-decoration: none;
    color: #333;
}

.liste-medias a:hover {
    color: rgb(3,3,3);
}

img {
    width: 20px;
}

.liste-services a:hover {
    color: rgb(3,3,3);
}

#info {
    text-align: center;
    font-size: 150%;
    margin-top: 5pc;
    max-width:100pc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15pc;
}

.perk1 {
    animation: slideIn 1.5s ease-in-out;
}
.perk2 {
    animation: slideIn 2.5s ease-in-out;
}
.perk3 {
    animation: slideIn 3s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0px);
    }
}

table {
    margin: 80px auto;
    border-spacing: 40px 30px;
}

td img {
    width: 80px;
    height: 80px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

td:hover img {
    transform: scale(1.05);
    text-align: center;
}

.leaders-txt {
    text-align: center;
    font-size: 170%;
    height: 10pc;
    margin: auto;
    max-width: 100pc;
}

.importantv2 {
    text-align: left;
    margin: 50px;
    font-size: 500%;
    margin-top: -2pc;
    max-width: 70pc;
}

#Conférenciers {
    margin: 50px;
    margin-top:15pc;
    font-size: 125%;
    font-weight: bold;
}

#Conf {
    margin-top: -36pc;
    margin-right: 5%;
    border-spacing: 10px 60px;
}

#Conf img {
    width: auto;
    height: 200px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    
}

.ConfName {
    text-align: left;
    font-size: 175%;
    margin-right: 25pc;
    font-weight: bold;
    text-align

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;        
}

img {
  max-width: 100%;
  height: auto;
}   

#video {
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: #e6e6e6;
    border-radius: 50px;
    justify-content: center;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-weight: bold;
}

.navbar a:hover {
    transform: scale(1.05);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
